In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import requests
import time
import datetime
import pymysql
import pymysql.cursors
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
url = 'https://kr.api.riotgames.com/'
# api_key = 'RGAPI-77d22e5d-19b3-4896-8c71-0f9c954cbd29'
api_key = 'RGAPI-8de50110-13f8-4e71-85d8-d864f12a7109'
api = '?api_key='+api_key

In [3]:
host = '127.0.0.1'
port = '3306'
sid = 'League Of Legends'

user = 'root'
password = 'tmddk720'

## Upload dataframe to Database

In [4]:
def upload_df_to_db(host, port, sid, user, password, table, df, if_exists='append'):
    
    connection = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                db=sid,
                                charset='utf8',
                                cursorclass=pymysql.cursors.DictCursor)

    engine = create_engine("mysql+pymysql://{user}:{password}@{host}/{db}"
                        .format(user=user, password=password, host=host, db=sid))


    try:
        with connection.cursor() as cursor:
#             print('upload')
            df.to_sql(name=table, con=engine, if_exists=if_exists, index=False)
            connection.commit()
#             print('upload db')
    
    except Exception as e:
        print(e)
                
    finally:
        connection.close()

In [5]:
def update_db(host, port, sid, user, password, sql, values, option='one'):
    
    connection = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                db=sid,
                                charset='utf8',
                                cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
#             print('update')
            if option == 'one':
                cursor.execute(sql, values)
            elif option == 'many':
                cursor.executemany(sql, values)
                
            connection.commit()
#             print('update db')
    
    except Exception as e:
        print(e)
                
    finally:
        connection.close()

## get data from DB

In [6]:
def get_league_queue_from_db(tier):
    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    
    try:
        league_queue_db = pd.read_sql("SELECT * FROM league_queue where tier = '" + tier + "'", con=con)
    except Exception as e:
        print(e)
    finally:
        con.close()
        
    return league_queue_db

In [7]:
def get_summoner_from_db(summonerId):
    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    
    try:
        summoner_db = pd.read_sql("SELECT * FROM summoners where summonerId = '" + summonerId + "'", con=con)
    except Exception as e:
        print(e)
    finally:
        con.close()
        
    return summoner_db

In [8]:
def get_recent_gameId_from_db(summonerId):

    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    sql = """SELECT gameId FROM `League Of Legends`.matchlists t1 
                WHERE t1.timestamp = (SELECT t2.timestamp FROM `League Of Legends`.matchlists t2 
                                        WHERE t2.summonerId = '%s' 
                                        ORDER BY t2.timestamp DESC LIMIT 1);""" %(summonerId)
    try:
        with con.cursor() as cursor:
            cursor.execute(sql)
            fetch = cursor.fetchall()
            
            if len(fetch) == 0:
                gameId = np.nan
            else:
                gameId = int(fetch[0][0])
    except Exception as e:
        print(e)
    finally:
        con.close()
    
    return gameId

In [9]:
#queue=420 : 소환사의 협곡
def get_gameId_list_from_db(queue='420', tier='CHALLENGER'):
    
    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    sql = """SELECT gameId FROM matchlists JOIN league_queue ON matchlists.summonerId = league_queue.summonerId
                WHERE queue = %s AND tier = '%s' ORDER BY timestamp DESC;""" %(queue, tier)

    try:
        with con.cursor() as cursor:
            cursor.execute(sql)
            fetch = cursor.fetchall()
            
            if len(fetch) == 0:
                gameId_list = np.nan
            else:
                gameId_list = [int(x[0]) for x in fetch]
                
    except Exception as e:
        print(e)
    finally:
        con.close()
    
    return gameId_list

## 티어별 소환사 리스트 저장

In [45]:
#challenger to master
ch_queue_req = requests.get(url + 'lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5'+api)
gm_queue_req = requests.get(url + 'lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5'+api)
ms_queue_req = requests.get(url + 'lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5'+api)

challengers = json_normalize(ch_queue_req.json()['entries'])
challengers['tier'] = 'CHALLENGER'
challengers['update'] = datetime.datetime.now()

grandmasters = json_normalize(gm_queue_req.json()['entries'])
grandmasters['tier'] = 'GRANDMASTER'
grandmasters['update'] = datetime.datetime.now()

masters = json_normalize(ms_queue_req.json()['entries'])
masters['tier'] = 'MASTER'
masters['update'] = datetime.datetime.now()

In [46]:
ch_to_dia = pd.concat([challengers, grandmasters, masters], ignore_index=True)

In [47]:
#diamondI to diamondIV
dias = {}

for tier in ['I', 'II', 'III', 'IV']:
    print('==================', tier, '==================')
    dias[tier] = pd.DataFrame()
    
    page = 1
    
    while(True):
        dia_queue_req = requests.get(url + 'lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/'+tier +
                                     '?page=' + str(page) + '&api_key='+api_key)
        
        #2분에 100개 요청 넘어가는 경우
        if dia_queue_req.status_code == 429:
            time.sleep(120)
            continue
            
        #더이상 데이터 페이지가 없는 경우
        if len(dia_queue_req.content) == 2:
            print(tier, page)
            break
        else:
            temp_dias = json_normalize(dia_queue_req.json())
            temp_dias['update'] = datetime.datetime.now()
            dias[tier] = dias[tier].append(temp_dias)
            page += 1
    
    ch_to_dia = pd.concat([ch_to_dia, dias[tier]], ignore_index=True)
    
print('# of summoners:    ', len(ch_to_dia))
print('# of challengers:  ', len(challengers))
print('# of grandmasters: ', len(grandmasters))
print('# of masters:      ', len(masters))
print('# of diamond1:     ', len(dias['I']))
print('# of diamond2:     ', len(dias['II']))
print('# of diamond3:     ', len(dias['III']))
print('# of diamond4:     ', len(dias['IV']))
print()

ch_to_dia.tail()

================== I ==================
I 37
================== II ==================
II 64
================== III ==================
III 130
================== IV ==================
IV 374
# of summoners:     125452
# of challengers:   300
# of grandmasters:  700
# of masters:       1652
# of diamond1:      7331
# of diamond2:      12813
# of diamond3:      26274
# of diamond4:      76382

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,tier,update,leagueId,queueType,miniSeries.target,miniSeries.wins,miniSeries.losses,miniSeries.progress
125447,LOo4qRdO2I17eF6k2xv-IMh0uz1KF9JplQuJ9kxxCef4yrY,찡찡루삥뽕,100,IV,133,77,False,False,False,True,DIAMOND,2020-09-10 15:47:45.722671,5e640a31-082b-483f-b7ff-8e5206d30c81,RANKED_SOLO_5x5,2.0,0.0,0.0,NNN
125448,o7iA9EOqqHTKTRJter2kt64GMtzeyHzVvpsPpg1m5cmu3Sg,YxxxxxxxxyC,0,IV,106,76,False,False,False,False,DIAMOND,2020-09-10 15:47:45.722671,c127b080-4359-462b-91f0-6070f3b6442d,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN
125449,Ddt8nRrIq1pSWLB_JhDdTPNzq8MiB5tOAZ3f1F3rnFlb8w,buff markersman,3,IV,132,115,False,False,False,False,DIAMOND,2020-09-10 15:47:45.722671,c6b80a17-e510-48a0-83dd-2fdbbb8ef45d,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN
125450,JUlvU2yNiOSbkj_aattbfvFR817IhDeOhH5thPsi6NkRZk4,zao zi ge ge,9,IV,172,142,False,False,False,False,DIAMOND,2020-09-10 15:47:45.722671,bf409f7f-2fe6-4f1a-8ef2-bc70d3996fcc,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN
125451,7hkWQ8mn89PKScd-P7aUeTiP4NaNNaCkAFGc4oL09nZkygc,예술적인 솔킬각,88,IV,332,282,True,False,False,True,DIAMOND,2020-09-10 15:47:45.722671,fffc1cf1-8c91-4f0a-ba64-a646e9266cb8,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN

In [10]:
ch_to_dia.to_csv('./data/ch_to_dia.csv')

In [63]:
#Timestamp to datetime
ch_to_dia['update'] = ch_to_dia['update'].apply(lambda x: x.to_pydatetime().strftime("%Y-%m-%d %H:%M:%S"))

sql = """INSERT INTO `League Of Legends`.league_queue 
            (summonerId, summonerName, tier, leaguePoints, `rank`, wins, losses, `update`) 
         VALUES (%s, %s, %s, %s, %s, %s, %s, %s)  
         ON DUPLICATE KEY UPDATE \
            summonerName = VALUES(summonerName), \
            tier = VALUES(tier), \
            leaguePoints = VALUES(leaguePoints), \
            `rank` = VALUES(`rank`), \
            wins = VALUES(wins), \
            losses = VALUES(losses), \
            `update` = VALUES(`update`);"""

league_queue_columns = ['summonerId', 'summonerName', 'tier', 'leaguePoints', 'rank', 'wins', 'losses', 'update']
values = list(ch_to_dia[league_queue_columns].itertuples(index=False, name=None))

update_db(host, port, sid, user, password, sql, values, option='many')

## 티어별 소환사 데이터 저장

In [ ]:
for tier in ['CHALLENGER', 'GRANDMASTER', 'MASTER']:
    
    print('==================', tier, '==================')
    league_queue_df = get_league_queue_from_db(tier)
    
    N = len(league_queue_df)
    i = 0
    
    while(i<N):
        si = league_queue_df.summonerId.values[i]
        
        try:
            summoner_req = requests.get(url + 'lol/summoner/v4/summoners/' + si + api)
            summoner_df = json_normalize(summoner_req.json())
            print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), i, summoner_df.name[0]))
            
            summonerName = summoner_df['name'][0]
            summonerId = summoner_df['id'][0]
            accountId = summoner_df['accountId'][0]
            puuid = summoner_df['puuid'][0]
            summonerLevel = str(summoner_df['summonerLevel'][0])
            profileIconId = str(summoner_df['profileIconId'][0])
            revisionDate = str(summoner_df['revisionDate'][0])
            update = datetime.datetime.now()

            sql = """INSERT INTO `League Of Legends`.summoners 
                        (summonerName, summonerId, accountId, puuid, summonerLevel, profileIconId, revisionDate, `update`) 
                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s)  
                     ON DUPLICATE KEY UPDATE \
                        summonerName = VALUES(summonerName), \
                        accountId = VALUES(accountId), \
                        puuid = VALUES(puuid), \
                        summonerLevel = VALUES(summonerLevel), \
                        profileIconId = VALUES(profileIconId), \
                        revisionDate = VALUES(revisionDate), \
                        `update` = VALUES(`update`);"""

            values = (summonerName, summonerId, accountId, puuid, summonerLevel, profileIconId, revisionDate, update)

            update_db(host, port, sid, user, password, sql, values)
        
        
        except Exception as e:
            #2분에 100개 제한
            if summoner_req.status_code == 429:
                time.sleep(120)
                continue
            
            #없는 데이터
            if summoner_req.status_code == 404:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                pass
            else:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                time.sleep(5)
                continue

        i += 1
        break
    break

## 소환사별 매치 리스트 다운로드

In [ ]:
for tier in ['CHALLENGER', 'GRANDMASTER', 'MASTER']:
    
    print('==================', tier, '==================')
    league_queue_df = get_league_queue_from_db(tier)
    
    N = len(league_queue_df)
    i = 0
    
#     passthrough = True
    
    #for summoner
    while(i<N):
        
        #tier별 소환사 목록에서 summonerId, summonerName 얻기
        si = league_queue_df.summonerId.values[i]
        sn = league_queue_df.summonerName.values[i]
        
#         if(sn == '대륜명왕'):
#             passthrough = False
        
#         if(passthrough):
#             i += 1
#             continue
        
        #summonerId로 summoner 데이터 불러오기
        summoner_df = get_summoner_from_db(si)
        if len(summoner_df) == 0:
            i += 1
            continue
            
        ai = summoner_df['accountId'][0]
        
        #summonerId로 db에 저장되어 있는 가장 최근 매치 데이터 불러오기
        recent_gameId = get_recent_gameId_from_db(si)
        
        #begin index
        bi = 0
        #이미 저장된 매치까지 다시 검색하는 건 아닌지 검사
        yn_search = True
        
        while(yn_search):
            
            try:
                matches_req = requests.get(url + 'lol/match/v4/matchlists/by-account/' + ai + api + '&season=13&beginIndex=' + str(bi*100))           

                #2분에 100개 요청 넘어가는 경우
                if matches_req.status_code == 429:
                    time.sleep(120)
                    continue

                #더이상 데이터 페이지가 없는 경우
                if len(matches_req.json()['matches']) == 0:
                    print(sn, bi)
                    break
                
                #데이터 페이지를 불러온 경우
                else:
                    matches_df = json_normalize(matches_req.json())
                    matches_df = json_normalize(matches_df['matches'][0]).drop(columns=['role', 'lane'])
                    
                    matches_df['summonerName'] = sn
                    matches_df['summonerId'] = si
                    matches_df['accountId'] = ai
                    matches_df['timestamp'] = matches_df['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime("%Y-%m-%d %H:%M:%S"))
                    
                    sql = """INSERT INTO `League Of Legends`.matchlists
                                (platformId, gameId, champion, queue, season, timestamp, summonerName, summonerId, accountId) 
                             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)  
                             ON DUPLICATE KEY UPDATE 
                                platformId = VALUES(platformId), 
                                champion = VALUES(champion), 
                                queue = VALUES(queue),
                                season = VALUES(season),
                                timestamp = VALUES(timestamp),
                                summonerName = VALUES(summonerName);"""
                    values = list(matches_df.itertuples(index=False, name=None))
                    
                    #db에 데이터 업데이트
                    update_db(host, port, sid, user, password, sql, values, option='many')
                    bi += 1
                    
                    #데이터베이스에 기록된 경기까지 찾은 경우 더 이상 검색하지 않음
                    if(recent_gameId in matches_df['gameId'].values):
                        print(sn, bi)
                        yn_search = False
                    
            except Exception as e:
                #없는 데이터
                if matches_req.status_code == 404 or matches_req.status_code == 400:
                    print('{0}   {1:10s} {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), sn, e))
                    break
                else:
                    print('{0}   {1:10s} {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), sn, e))
                    time.sleep(5)
                    continue
        
        i += 1

## 매치별 매치 데이터 다운

In [10]:
def cleanse_match_data(match_df):
    
    gameId = match_df['gameId'][0]
    
    teams_df = json_normalize(match_df['teams'][0])
    ptcp_df = json_normalize(match_df['participants'][0])
    ptcp_idt_df = json_normalize(match_df['participantIdentities'][0])
    
    
    #=====================================================================================================
    # teams_df 정리
    # - teamId, win, firstBlood, firstTower, firstInhibitor, firstBaron, firstDragon, firstRiftHerald,
    #   towerKills, inhibitorKills, baronKills, vilemawKills, riftHeraldKills, dominionVictoryScore, ban
    #=====================================================================================================
    
    #ban 목록 정리
    bans = {}
    for t in [0, 1]:
        teamId = (t+1)*100
        bans[str(teamId)] = json_normalize(teams_df['bans'][t]).T
        bans[str(teamId)].rename(columns={0:'ban1', 1:'ban2', 2:'ban3', 3:'ban4', 4:'ban5'}, inplace=True)
        bans[str(teamId)]['teamId'] = teamId
    bans = pd.concat([bans['100'], bans['200']])
    bans = bans.loc['championId']

    teams_df = pd.merge(teams_df.drop(columns=['bans']), bans, on='teamId', how='outer')
    teams_df['gameId'] = gameId
    for c in teams_df.columns:
        teams_df[c] = teams_df[c].astype(str)
    
    
    #=====================================================================================================
    # participants_df 정리
    # - participantId, teamId, championId, spell, win, item, kda, damage, gold, xp, visionScore, ward, rune
    #=====================================================================================================
   
    #participants column 명칭 정리
    ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('stats.', '')
    ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('timeline.', '')
    ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('.', ':')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('0-end', '0-10')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('10-end', '10-20')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('20-end', '20-30')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('30-end', '30-40')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('40-end', '40-50')
#     ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('50-end', '50-60')
    
    #sq에 삽입하기 위해 특정 column 명칭 양쪽으로 ₩ 붙이기
    cc = ptcp_df.filter(regex='Deltas').columns
    ccc = ['`' + c + '`' for c in cc]
    ptcp_df.rename(columns=dict(zip(cc,ccc)), inplace=True)
    
    #중복 column 제거
    ptcp_df = ptcp_df.loc[:, ~ptcp_df.columns.duplicated()]
    
    #participants에서 제거할 column list
    participants_delete_list = ['killingSprees', 'doubleKills', 'tripleKills', 
                               'quadraKills', 'pentaKills', 'combatPlayerScore', 'objectivePlayerScore', 
                               'totalPlayerScore', 'totalScoreRank', 'role', 'lane']
    for i in range(10):
        participants_delete_list.append('playerScore'+str(i))
        
    #participants에서 필요 없는 column 제거
    ptcp_df = ptcp_df[ptcp_df.columns.drop(participants_delete_list)]
    ptcp_df = ptcp_df[ptcp_df.columns.drop(list(ptcp_df.filter(regex='Diff')))]
    ptcp_df = ptcp_df[ptcp_df.columns.drop(list(ptcp_df.filter(regex='Deltas')))]
    
    ptcp_df['gameId'] = gameId
    for c in ptcp_df.columns:
        ptcp_df[c] = ptcp_df[c].astype(str)
    
    
    #=====================================================================================================
    # participant_identities_df 정리
    # - participantId, accountId, summonerName, summonerId
    #=====================================================================================================
   
    #participant identities column 명칭 정리
    ptcp_idt_df.columns = ptcp_idt_df.columns.str.strip().str.replace('player.', '')
    
    #participant identities에서 필요 없는 column 제거
    ptcp_idt_df = ptcp_idt_df[ptcp_idt_df.columns.drop(['platformId', 'currentPlatformId', 'currentAccountId',
                                                        'matchHistoryUri', 'profileIcon'])]
  
    ptcp_idt_df['gameId'] = gameId
    for c in ptcp_idt_df.columns:
        ptcp_idt_df[c] = ptcp_idt_df[c].astype(str)
   
    
    #=====================================================================================================
    # match_df 정리
    # - gameId, platformId, gameCreation, gameDuration, queueId, mapId, seasonId, gameVersion, gameType
    #=====================================================================================================
   
    match_df = match_df.drop(columns=['teams', 'participants', 'participantIdentities'])
    match_df['gameCreation'] = match_df['gameCreation'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime("%Y-%m-%d %H:%M:%S"))
    
    for c in match_df.columns:
        match_df[c] = match_df[c].astype(str)
   
    return match_df, teams_df, ptcp_df, ptcp_idt_df

In [11]:
gameId_list = get_gameId_list_from_db(queue='420', tier='CHALLENGER')
gameId_list = list(set(gameId_list))

In [ ]:
i = 0
N = len(gameId_list)
print(N)

while(i<N):    
    try:
        gameId = gameId_list[i]
        match_req = requests.get(url + 'lol/match/v4/matches/' + str(gameId) + api)           

        #2분에 100개 요청 넘어가는 경우
        if match_req.status_code == 429:
            time.sleep(120)
            continue
    
        match_df = json_normalize(match_req.json())
        match_df, teams_df, ptcp_df, ptcp_idt_df = cleanse_match_data(match_df)
           
        #match_df    
        sql = "INSERT INTO `League Of Legends`.`match` (" +  ', '.join(match_df.columns) + ") " + \
            "VALUES (" + ', '.join('%s' for i in match_df.columns) + ") ON DUPLICATE KEY UPDATE " + \
            ', '.join('{0}=VALUES({0})'.format(c) for c in match_df.drop(columns=['gameId']).columns) + ';'
        values = list(match_df.itertuples(index=False, name=None))[0]
        update_db(host, port, sid, user, password, sql, values)

        #teams_df
        sql = "INSERT INTO `League Of Legends`.`match_teams` (" +  ', '.join(teams_df.columns) + ") " + \
            "VALUES (" + ', '.join('%s' for i in teams_df.columns) + ") ON DUPLICATE KEY UPDATE " + \
            ', '.join('{0}=VALUES({0})'.format(c) for c in teams_df.drop(columns=['gameId', 'teamId']).columns) + ';'
        values = list(teams_df.itertuples(index=False, name=None))
        update_db(host, port, sid, user, password, sql, values, 'many')
        
        #ptcp_df
        sql = "INSERT INTO `League Of Legends`.`match_participants` (" +  ', '.join(ptcp_df.columns) + ") " + \
            "VALUES (" + ', '.join('%s' for i in ptcp_df.columns) + ") ON DUPLICATE KEY UPDATE " + \
            ', '.join('{0}=VALUES({0})'.format(c) for c in ptcp_df.drop(columns=['gameId', 'participantId']).columns) + ';'
        values = list(ptcp_df.itertuples(index=False, name=None))
        update_db(host, port, sid, user, password, sql, values, 'many')
    
        #ptcp_idt_df
        sql = "INSERT INTO `League Of Legends`.`match_participant_identities` (" +  ', '.join(ptcp_idt_df.columns) + ") " + \
            "VALUES (" + ', '.join('%s' for i in ptcp_idt_df.columns) + ") ON DUPLICATE KEY UPDATE " + \
            ', '.join('{0}=VALUES({0})'.format(c) for c in ptcp_idt_df.drop(columns=['gameId', 'participantId']).columns) + ';'
        values = list(ptcp_idt_df.itertuples(index=False, name=None))
        update_db(host, port, sid, user, password, sql, values, 'many')
    
        print(gameId)
        i += 1
    
    except Exception as e:
        #없는 데이터
        if match_req.status_code == 404 or match_req.status_code == 400:
            print('{0}   {1:10d} {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), gameId, e))
            break
        else:
            print('{0}   {1:10d} {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), gameId, e))
            time.sleep(5)
            continue
            
    break

302265
01:40:53   4419747843 "['teamId'] not found in axis"
01:40:59   4419747843 "['teamId'] not found in axis"
01:41:04   4419747843 "['teamId'] not found in axis"
01:41:09   4419747843 "['teamId'] not found in axis"
01:41:15   4419747843 "['teamId'] not found in axis"
01:41:20   4419747843 "['teamId'] not found in axis"
01:41:26   4419747843 "['teamId'] not found in axis"
01:41:32   4419747843 "['teamId'] not found in axis"
01:41:37   4419747843 "['teamId'] not found in axis"
01:41:43   4419747843 "['teamId'] not found in axis"
01:41:48   4419747843 "['teamId'] not found in axis"
01:41:54   4419747843 "['teamId'] not found in axis"
01:41:59   4419747843 "['teamId'] not found in axis"
01:42:05   4419747843 "['teamId'] not found in axis"

In [1]:
ptcp_df

NameError: name 'ptcp_df' is not defined

In [15]:
list(set(gameId_list))

[4419747843,
 3635937284,
 4422369287,
 4348968969,
 3880779785,
 3782213644,
 4311744526,
 4393009167,
 3610771471,
 4420272145,
 4164419602,
 4037017617,
 3683123219,
 4335861782,
 4206886935,
 4468506648,
 4060086297,
 3579314203,
 4375183388,
 4513595424,
 3663724579,
 4087349286,
 3634888742,
 4028629033,
 3840409641,
 4006608939,
 4455923756,
 3805282347,
 3826253870,
 4299685935,
 4008181807,
 3942645807,
 4347920434,
 4438622259,
 4119855161,
 4472176700,
 4235198524,
 3906994236,
 4028629057,
 3789553734,
 4224188487,
 4302831688,
 3793223751,
 3869769802,
 4536664139,
 4360503371,
 4102553676,
 3782737997,
 4372561999,
 3921674319,
 3867672656,
 3601858634,
 4175954003,
 4394057812,
 3514302541,
 3640655959,
 4300734552,
 3741843551,
 3718774880,
 3942121569,
 4009754725,
 3969384549,
 3566207079,
 4225761387,
 3855089771,
 3601334381,
 4453826670,
 3880779888,
 4426563697,
 4019716209,
 3552051314,
 4580704372,
 3833593973,
 3601334388,
 3528982644,
 4221042809,
 3597140089,
 3703570557,
 3793223807,
 4008181891,
 4485283975,
 4453302409,
 3966763149,
 3921150093,
 4175429775,
 3838312591,
 3931635857,
 4424466580,
 3664773276,
 4460642461,
 3713532061,
 4136108191,
 3682599071,
 4376232097,
 3906994348,
 3883401388,
 4266131631,
 3969908913,
 3715104951,
 4519362746,
 3682599100,
 3560439996,
 4199547073,
 4480565443,
 4272947395,
 3959423171,
 3819962564,
 3786408132,
 3726115016,
 3970433225,
 3591897286,
 3902800077,
 3767533773,
 4433379535,
 3803185360,
 3890217169,
 4147642578,
 3645898958,
 3593994446,
 4462215381,
 3509059800,
 4478992601,
 3783262430,
 3906994399,
 3521642724,
 4483186917,
 3617063142,
 3537895653,
 4075815144,
 4540858602,
 3978821866,
 4586995950,
 4030726382,
 3892314352,
 3716153585,
 3633840368,
 4487905523,
 3591373041,
 3593994485,
 4472176886,
 4049076470,
 4035444984,
 3512729846,
 4080533755,
 3906994427,
 4098883837,
 3903324415,
 3631743232,
 4324327683,
 4037017860,
 4027056389,
 3994550531,
 4127195399,
 4029677831,
 3689939205,
 3687842059,
 4205838604,
 4389339405,
 4570743054,
 3711435021,
 4048027921,
 3549954322,
 3805806870,
 3661627670,
 4137156889,
 3710386458,
 3708813595,
 4564975900,
 3932160284,
 3914858781,
 3742892320,
 4547674403,
 3957850404,
 3944218915,
 3838837029,
 4466409768,
 4622647593,
 4553965866,
 4164419880,
 3897033003,
 3573547309,
 3839361329,
 3733979443,
 3927441716,
 3772252469,
 4017094966,
 3943694647,
 3591897398,
 4087349563,
 3684696379,
 4545577278,
 4093641022,
 3679453504,
 3667394879,
 3516924223,
 4261413188,
 4165992773,
 3544711494,
 3681026375,
 4350542153,
 4280811849,
 4214751561,
 3998220618,
 3899654474,
 3610247506,
 4279763283,
 3543662932,
 4215275862,
 4210557272,
 4524081497,
 4015522140,
 4114612574,
 3627549027,
 3517448548,
 4428661094,
 4020765033,
 3612344681,
 3806331252,
 3531604341,
 3615490422,
 4019716475,
 3601334654,
 3764912511,
 3700949376,
 3696755074,
 4262461830,
 3792175494,
 4600627592,
 4052746632,
 3782214022,
 3908567435,
 3724018055,
 3686793607,
 3521642895,
 3645899152,
 4081582482,
 4454875539,
 4069523860,
 4515168663,
 4370465176,
 3595567515,
 3864527260,
 3731358108,
 4213178782,
 3512205725,
 4541907360,
 4407689632,
 3713532322,
 4396155300,
 4026532261,
 4313317799,
 3632791980,
 4147642799,
 3671589297,
 4407689650,
 4016570802,
 4519362996,
 4379378101,
 4404543926,
 3655336369,
 3709862330,
 3800564157,
 3679453629,
 3870294463,
 3580887492,
 4269801927,
 3677880776,
 4427612617,
 3534225863,
 4224713163,
 4565500366,
 3701473742,
 4034920913,
 3970957777,
 3539993045,
 3975676376,
 4463788505,
 3969384921,
 4513071584,
 4014997986,
 4097311204,
 4550296037,
 4394058213,
 3798467045,
 4321706472,
 4527227369,
 4297064938,
 4287627752,
 3608150506,
 4508877296,
 4274520562,
 3926917618,
 4259840500,
 4467458549,
 4568646134,
 3906994679,
 3711959543,
 4256170489,
 3662152179,
 4158652923,
 4018668027,
 4032299517,
 4345823742,
 3944219135,
 3906994685,
 4467458561,
 4272423426,
 4199547394,
 4050125314,
 3722969597,
 3662152189,
 4433379851,
 3573023244,
 3914334733,
 4063756824,
 3655336473,
 3543663131,
 4117234207,
 4465885732,
 3602907684,
 4478992935,
 3825730087,
 4391961131,
 3721396779,
 3681550893,
 3867673136,
 4369941041,
 4218946097,
 4121428531,
 3510108725,
 3703046710,
 3855614520,
 4032299577,
 3541566009,
 3911189051,
 3724018235,
 3644850747,
 4310172223,
 4246733376,
 4482138689,
 4492624450,
 3958899264,
 3685220928,
 3817341510,
 4568121927,
 4033872456,
 4154982986,
 4261413453,
 4144497236,
 3896509014,
 4063232603,
 4486333020,
 4152885852,
 3575120478,
 3928490591,
 4099932768,
 3653763680,
 3532653151,
 3899130469,
 4101505639,
 4088922729,
 4484235882,
 3835167342,
 3624927854,
 4507304563,
 4350542452,
 4483711606,
 4594860668,
 3854041724,
 3606577789,
 3529507454,
 4063232640,
 4514644609,
 3779068545,
 4390912644,
 3846701700,
 4537713286,
 3970433672,
 4377805449,
 4043833993,
 4297589389,
 3976200847,
 3582460559,
 3650093713,
 4583850644,
 3514303125,
 4455400086,
 4246733463,
 4367843992,
 4296016536,
 3693085334,
 3680502425,
 4095214237,
 4310696606,
 3760194206,
 3711435423,
 3682599585,
 3861381798,
 4148691626,
 4108321451,
 4109370028,
 3986686634,
 3975152302,
 4431282863,
 4192731823,
 3773301425,
 3727688366,
 3869770420,
 3806331574,
 3569877686,
 3828875960,
 3961520825,
 3774350008,
 3601334971,
 4008706749,
 3659530941,
 4098884287,
 4502061763,
 4340056774,
 4040164039,
 3870819015,
 3970433741,
 3792175824,
 4323803858,
 4127195860,
 4435477205,
 3808953046,
 4498391767,
 3647472341,
 4470080220,
 4222616284,
 3635413726,
 4426040032,
 4350018275,
 4552917732,
 4205839076,
 4232053478,
 3751805668,
 3519021799,
 4212130538,
 4410835692,
 3553100529,
 3546284786,
 4172284660,
 3948413686,
 3612345079,
 4161274617,
 4427612922,
 3561489146,
 3710911234,
 4151313155,
 3880780550,
 3948413704,
 3784835849,
 3636462349,
 4540334862,
 3874489103,
 3722969871,
 4427612952,
 4228907800,
 4147643160,
 4135584541,
 4557636382,
 4242539295,
 4215276319,
 3979871007,
 4462740258,
 4027056930,
 4320133924,
 4024435491,
 3694658336,
 4061659944,
 3595567918,
 4530897711,
 3767534384,
 3610772271,
 4083680050,
 3845653310,
 4525654851,
 4037018436,
 3978822468,
 3576693574,
 3780117319,
 4118807368,
 3735552843,
 3988783952,
 3964142416,
 4089971538,
 3719824211,
 4230480731,
 4011328348,
 4023386973,
 3958899551,
 4445438822,
 3623879527,
 4244112235,
 4060611438,
 3767010161,
 3647996786,
 3622306673,
 3646423924,
 3556246389,
 4563403638,
 4394058615,
 4276093816,
 3703047032,
 4247257983,
 3852469119,
 3713532800,
 3628073857,
 4374659972,
 4455400325,
 4355261318,
 3869770628,
 3949986696,
 4247257996,
 3919577997,
 3734504336,
 4143973265,
 4592763795,
 4431807380,
 4154459029,
 3844080531,
 3827303317,
 4518314905,
 4050125722,
 4310172571,
 3802137498,
 3643278237,
 3620209565,
 3535274912,
 4179100577,
 3915908004,
 3601859493,
 4046455720,
 3800564648,
 4192207789,
 4526179246,
 4126147502,
 3620209584,
 3623879601,
 3661104050,
 3732407221,
 4467458999,
 4428137399,
 3849323448,
 3877110714,
 3791651770,
 4066902972,
 3509060538,
 4363125695,
 3748660160,
 4556063685,
 3955753926,
 3725591497,
 3647996873,
 3869770700,
 3719300046,
 4417651664,
 4409263059,
 4506256340,
 3870294995,
 3812623317,
 4132438999,
 4462740440,
 3655336919,
 4196402140,
 4092068828,
 4340057056,
 4142400481,
 4109894628,
 4497867750,
 3696755690,
 3560440811,
 3699901422,
 3653764078,
 4237820916,
 3820487668,
 4188537846,
 3985638391,
 4555015160,
 3862954998,
 3711435765,
 4281861116,
 4173333500,
 3719300093,
 3999269888,
 4350018563,
 3780641797,
 3907519496,
 3700425737,
 3671589898,
 3980395531,
 4261413900,
 4513072141,
 4143973388,
 4312269839,
 3517449232,
 3514827791,
 3535799317,
 3693085719,
 4393010200,
 3972006937,
 3607626779,
 4431807517,
 3772777501,
 3651666975,
 4407165984,
 4137681954,
 4203742243,
 3970434083,
 4385145893,
 4130866214,
 3941073955,
 3818914853,
 3708290087,
 3677881381,
 3597665317,
 4131390510,
 4422370351,
 4100457518,
 3687318575,
 3954181170,
 4621075507,
 3652715568,
 3846702137,
 4452254784,
 4043834433,
 3842507843,
 3828352067,
 4486333512,
 4452254794,
 4125099083,
 4224189516,
 4171760716,
 3586655310,
 3510633554,
 4210033747,
 3660055635,
 4247258205,
 4356310111,
 3927966816,
 4086826081,
 3998221410,
 4553966693,
 4441244773,
 3987735654,
 3877110887,
 4270851177,
 4196402282,
 3690464362,
 4604822636,
 3640657002,
 3625976941,
 4162847855,
 3534750825,
 4438623347,
 4006610040,
 4169139323,
 3633841276,
 4326950013,
 3618112635,
 4050125951,
 3601335425,
 3970434178,
 4540859523,
 3564635269,
 4052223111,
 3846702216,
 3628074122,
 3545236620,
 3543139469,
 4379378832,
 4050125968,
 3906995348,
 4132963477,
 4171760790,
 3771204757,
 3538420888,
 3733980316,
 3928491167,
 4424467616,
 4302832801,
 3800564902,
 3684697254,
 4035970218,
 4513596587,
 4198499499,
 3805283499,
 3667395754,
 4143973551,
 4547151028,
 3620209847,
 4357883065,
 3848799417,
 3909616827,
 3743417534,
 4495770817,
 4473226433,
 4215801025,
 4486333637,
 3608151241,
 3765437642,
 3783787727,
 3633317071,
 3829925073,
 4153410777,
 3643802842,
 4493673691,
 4579656924,
 4098884828,
 3810526430,
 4570744031,
 3845129441,
 4240442594,
 3843032292,
 4488955113,
 4391437546,
 4516218094,
 4484236526,
 4218422511,
 4217373934,
 4073719023,
 4015523054,
 4185916660,
 4530373877,
 4454876418,
 3821536515,
 3748136197,
 3534226699,
 4334814476,
 3815769357,
 4535616782,
 3597665553,
 4217373972,
 4545053977,
 3998221594,
 4422370587,
 4289201436,
 3710911771,
 4553966881,
 3682075939,
 3698328874,
 3643278637,
 3591374127,
 4007658804,
 4082107706,
 4456973627,
 4344251711,
 3515352384,
 3605005633,
 4139255106,
 3544712513,
 4131390788,
 4528801093,
 4545578310,
 3695707463,
 3667920200,
 4246734153,
 3854566729,
 3647997252,
 4447536460,
 4430234961,
 4469032279,
 3709863256,
 3781166429,
 4470080862,
 4456973662,
 4244112735,
 4105700704,
 3637511524,
 4406117733,
 4472178025,
 3601335659,
 3928491377,
 4508878194,
 3517449586,
 4146070900,
 4526179701,
 4419749238,
 3824158068,
 4311221626,
 4512023935,
 4455925120,
 4216849791,
 4538762626,
 4212655488,
 3952608640,
 3976201605,
 3927442815,
 3837789575,
 3810526594,
 3717727621,
 3653240193,
 4395107723,
 3605005707,
 3511158158,
 3995075986,
 3657958806,
 4453827991,
 3899655576,
 3547334039,
 4456973722,
 4325901727,
 3906995615,
 4362077601,
 3508536739,
 4187489702,
 4493673897,
 3889694121,
 3660055978,
 3800565168,
 3674211760,
 4132439474,
 3636463027,
 4538762676,
 3531605424,
 3786409399,
 4429710776,
 4494198201,
 3911189944,
 3577742778,
 4585948605,
 4070049213,
 4320134591,
 4278715841,
 4238869953,
 3592947139,
 4478993860,
 3764913604,
 4343203270,
 4052747719,
 3582461379,
 3618112969,
 4480566730,
 3586655691,
 3973055948,
 3641705932,
 3977250254,
 3562538447,
 3697280468,
 3695183317,
 3719300567,
 4399826394,
 4285007328,
 4519364066,
 3661628899,
 3643278820,
 4254598629,
 3897034213,
 3663201766,
 3831498216,
 3602384358,
 3744466412,
 4086302191,
 3880781300,
 3867674100,
 4590142966,
 4417652215,
 4389340662,
 3724019194,
 4467459579,
 4393010684,
 4223665661,
 3707241982,
 3695707647,
 4474799619,
 3653764611,
 4414506501,
 3771729415,
 4286580233,
 3805808137,
 4455400971,
 4059039245,
 4459070990,
 4190635535,
 3744466445,
 3786409489,
 4634183186,
 4377806355,
 3994027541,
 4426565142,
 3822585365,
 3846702617,
 4483188251,
 3841459739,
 3699377695,
 4195354145,
 3799516705,
 3608151586,
 4163372580,
 3866101285,
 3676833319,
 4174382632,
 4531422762,
 4127721002,
 4405069356,
 3721397805,
 4465886766,
 4421846575,
 3577742896,
 4616357425,
 3878159923,
 4431808056,
 4134536761,
 4024436285,
 3581937215,
 3619685953,
 4423943747,
 4130342468,
 3820488260,
 4417652297,
 4523558477,
 4269803085,
 3971483215,
 3604481613,
 3968861778,
 4582278739,
 3900180051,
 3772778071,
 3584034392,
 4390913625,
 4462741082,
 4601153115,
 4428138076,
 4344776283,
 4060612189,
 4109895263,
 3902801498,
 3620210272,
 3539994207,
 4599580261,
 4078962278,
 3812099685,
 3608151654,
 3510634087,
 4158654058,
 3921151594,
 3904374380,
 4415555184,
 4556588657,
 3831498354,
 4031776374,
 3631220344,
 4409788026,
 3602384508,
 4375185024,
 3964143232,
 4410836610,
 4620551811,
 4393010819,
 3778545288,
 3568830089,
 3652716171,
 4227335820,
 3793225356,
 3659531918,
 4286580368,
 4061660820,
 4515169943,
 4479518360,
 4455925399,
 4453828249,
 4319086231,
 3667396247,
 4163372703,
 3603433121,
 4353164962,
 3872392867,
 3824158373,
 3949463206,
 3523217065,
 3968861869,
 3607627441,
 3640133298,
 4092069556,
 4422370998,
 4272424631,
 4356310712,
 3806332598,
 3531605688,
 4565501633,
 4030203586,
 3798468292,
 4152362694,
 4359980743,
 4190111431,
 4474275531,
 3806332619,
 4391962317,
 4066903758,
 3514828492,
 4462216913,
 4154459861,
 4377282262,
 4335339223,
 4581230296,
 3917481686,
 4561831643,
 4505208541,
 ...]

In [188]:
', '.join('%s' for i in teams_df.columns)

# teams_df

'%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s'

In [172]:
sql

'INSERT INTO `League Of Legends`.`match_teams` (teamId, win, firstBlood, firstTower, firstInhibitor, firstBaron, firstDragon, firstRiftHerald, towerKills, inhibitorKills, baronKills, dragonKills, vilemawKills, riftHeraldKills, dominionVictoryScore, ban1, ban2, ban3, ban4, ban5, gameId) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) ON DUPLICATE KEY UPDATE gameId=gameId;'

In [124]:
','.join(match_df.columns)

'gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType'

In [173]:
values

[('100',
  'Win',
  'False',
  'False',
  'True',
  'True',
  'True',
  'False',
  '9',
  '2',
  '1',
  '3',
  '0',
  '1',
  '0',
  '80',
  '104',
  '876',
  '-1',
  '51',
  '4635484701'),
 ('200',
  'Fail',
  'True',
  'True',
  'False',
  'False',
  'False',
  'True',
  '2',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '76',
  '61',
  '51',
  '164',
  '22',
  '4635484701')]

In [174]:
teams_df

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,...,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,ban1,ban2,ban3,ban4,ban5,gameId
0,100,Win,False,False,True,True,True,False,9,2,...,3,0,1,0,80,104,876,-1,51,4635484701
1,200,Fail,True,True,False,False,False,True,2,0,...,1,0,1,0,76,61,51,164,22,4635484701

In [201]:
for c in ptcp_idt_df.columns:
    print("{0:30s} : {1}".format(c, ptcp_idt_df[c][0]))

participantId                  : 1
accountId                      : 8nrnz7kyleZOm0LZt4LFh874u5VuQqL3Z_dDNdtQ3KBjMcA
summonerName                   : 다딱이랑대화안함
summonerId                     : ctIgbs4g9RMarubrxZ_z6DudYaU2BlOZOHthQBmf3hWtZwQ
gameId                         : 4635484701

In [110]:
ptcp_df

,participantId,teamId,championId,spell1Id,spell2Id,win,item0,item1,item2,item3,...,statPerk2,creepsPerMinDeltas.10-20,creepsPerMinDeltas.0-10,xpPerMinDeltas.10-20,xpPerMinDeltas.0-10,goldPerMinDeltas.10-20,goldPerMinDeltas.0-10,damageTakenPerMinDeltas.10-20,damageTakenPerMinDeltas.0-10,gameId
0,1,100,111,4,3,True,3860,3193,0,1029,...,5002,0.8,1.1,197.1,267.8,207.4,166.5,550.6,121.5,4635484701
1,2,100,84,12,14,True,3157,3146,1054,1052,...,5002,7.0,8.0,477.3,434.0,392.3,256.5,294.6,210.9,4635484701
2,3,100,142,4,14,True,3285,2033,3165,3020,...,5003,6.2,8.9,394.7,509.9,416.9,318.9,294.8,219.6,4635484701
3,4,100,145,7,4,True,3042,2055,3124,3101,...,5002,8.0,9.0,443.1,310.6,407.1,307.7,387.7,88.8,4635484701
4,5,100,2,11,4,True,1400,2421,2055,3071,...,5002,1.4,0.3,268.7,384.6,313.3,299.3,773.5,649.2,4635484701
5,6,200,29,7,4,False,3086,1055,3006,1033,...,5002,7.9,6.5,422.2,273.6,421.1,225.3,422.5,117.1,4635484701
6,7,200,64,11,4,False,2055,3111,3077,3071,...,5002,1.4,1.0,570.0,384.7,489.3,268.7,688.5,774.9,4635484701
7,8,200,44,3,4,False,3222,3860,0,0,...,5002,1.4,1.5,288.6,238.0,263.8,154.3,640.3,170.2,4635484701
8,9,200,117,4,1,False,2033,1052,3504,3009,...,5003,5.7,7.0,405.7,385.2,277.5,239.5,428.6,299.8,4635484701
9,10,200,133,14,4,False,1055,3155,1036,1001,...,5003,6.3,8.5,338.2,466.7,380.5,311.9,315.2,104.0,4635484701

In [113]:
ptcp_idt_df

,participantId,accountId,summonerName,summonerId,gameId
0,1,8nrnz7kyleZOm0LZt4LFh874u5VuQqL3Z_dDNdtQ3KBjMcA,다딱이랑대화안함,ctIgbs4g9RMarubrxZ_z6DudYaU2BlOZOHthQBmf3hWtZwQ,4635484701
1,2,z-PBP63xLQwrYDrbFV7vm-f5yrgPFSseadWwy7MsA_PSFRE,사일러스,93pK6YQrBgQDZTmioZ4ewThQUvBtmDUYggRkvqV92zli5WE,4635484701
2,3,lSvAJdCRM8ZsCrNO99OayLcREObNGhUb4Op--1oy6G0Rn6...,Rby,9os2xoWiwUz5tZyfKVWuP2epL6c7GD_V32iwI78b0uH7mGH5,4635484701
3,4,OclWU5yEXnKt2emFTCzrVJvuz0n5dwfBDjYCXsLptIqh,CnO2,4jx7aRJnF9GKXPCQirxqpMo8-phHRfaffWlE5Od29JVHjw,4635484701
4,5,_GGdRrMffelcXUKpuljIGFjdNY9bVPQc2AVewFBHvlZtAQU,포로 초밥,9Ck1YGCTNbA5VODwx4sIpdN48yM_EfDyDjCCbhJl9vSSXtM,4635484701
5,6,abS4LUhUsKtkpSNkb_IMFl6jBIpzqT9pBLzhr3I2aGsx,Einherier,iowVCujnpNWRflzGPbYgECdaFCBc_wK3KSBhzB5gK7qpy3Y,4635484701
6,7,lks1TpE_961NVN2YPgIvBN_cjmvxgR9aEC31KF664buZ,프래디머큐리,zunDUW9fObblKlzEPuKbcv2oS28oRStAE21k1jhkA7Os-Q,4635484701
7,8,5D3JX9Z-M1EqF0744y5Bd0JRGNh8q_SXiqk9RASh3YwLKp...,정중지와1,VGS8cy4OsUbuhz1tTmXKv2fLgulv0MUvqI_eq3bRTCD8ADo,4635484701
8,9,IJLUK0LkcoxnIowzX8KjQ3mSSeb1d0pNYG4rXXPLXSDw27...,암거나하는saram,LfSy_EDHCL7L0S653cGKb0H6_DzTcaugZE9hTG4rdBFHC2g,4635484701
9,10,LEzRmrjY1CkVM3M_kli3hklngWiY_lC5O9ZB4W6QVum-790,dolcasa,pJToKhFBP8THcHZQte1s94uB7b023WZS0xaR9cZiTjCl-8U,4635484701