In [224]:
import requests
from urllib.request import urlopen
from urllib.parse import quote_plus
from bs4 import BeautifulSoup
import lxml.html
import re
import pandas as pd
from pandas.io.json import json_normalize
import datetime
import time

In [235]:
url = 'https://www.op.gg/summoner/champions/userName='
api_key = 'RGAPI-34285649-2f99-4fa6-8c1a-a99f38fde1a5'
api = '?api_key='+api_key

# 1. 소환사명 불러오기

In [219]:
ch_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5'+api)
gm_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5'+api)
ms_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5'+api)
dia1_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/I?page=50&api_key='+api_key)
dia2_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/II?page=50&api_key='+api_key)
dia3_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/III'+api)
dia4_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/IV?page=100&api_key='+api_key)

In [227]:
challengers = json_normalize(ch_queue_req.json()['entries'])
grandmasters = json_normalize(gm_queue_req.json()['entries'])
masters = json_normalize(ms_queue_req.json()['entries'])
dias = {}

ch_to_dia = pd.concat([challengers, grandmasters, masters], ignore_index=True)

for tier in ['I', 'II']:
    print('==================', tier, '==================')
    dias[tier] = pd.DataFrame()
    
    page = 1
    
    while(True):
        print(page)
        dia_queue_req = requests.get('https://kr.api.riotgames.com/lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/'+tier +
                                     '?page=' + str(page) + '&api_key='+api_key)
        
        if dia_queue_req.status_code == 429:
            time.sleep(120)
            continue
            
        if len(dia_queue_req.content) == 2:
            print(tier, page)
            break
        else:
            temp_dias = json_normalize(dia_queue_req.json())
            dias[tier] = dias[tier].append(temp_dias)
            page += 1
       
    ch_to_dia = pd.concat([ch_to_dia, dias[tier]], ignore_index=True)

print('# of summoners:    ', len(ch_to_dia))
print('# of challengers:  ', len(challengers))
print('# of grandmasters: ', len(grandmasters))
print('# of masters:      ', len(masters))
print('# of diamond1:     ', len(dias['I']))
print('# of diamond2:     ', len(dias['II']))
print()

ch_to_dia.tail()

================== I ==================
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
I 34
================== II ==================
1

C:\Users\LG\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
II 63
# of summoners:     22159
# of challengers:   300
# of grandmasters:  700
# of masters:       1811
# of diamond1:      6741
# of diamond2:      12607

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,miniSeries.losses,miniSeries.progress,miniSeries.target,miniSeries.wins,queueType,rank,summonerId,summonerName,tier,veteran,wins
22154,False,False,False,2e25d62e-24a8-4d9d-a18d-faf24ac0ed2a,75,102,NaN,NaN,NaN,NaN,RANKED_SOLO_5x5,II,QPFNzOdW9AXEglFtk-ETMtsXLyOuXdEx2uWGU4uJg7Usjg,맑은ICE,DIAMOND,False,119
22155,False,False,False,0b9d44cb-eb09-4bf7-a0b8-601bac4b39b7,0,65,NaN,NaN,NaN,NaN,RANKED_SOLO_5x5,II,DdMkR3Ah-kGVV-y0ODHRnLPkXrc7owALSdbgpiPa-28zLEg,ad 960,DIAMOND,False,105
22156,False,False,False,16909256-5682-4c12-89cd-dfb06c6b8485,65,167,NaN,NaN,NaN,NaN,RANKED_SOLO_5x5,II,NXcSfp9oi19OJQBRh3UznraFmMqkYz_HJsvkJ7Qbuwz5lg,카페베네얼음도둑,DIAMOND,False,188
22157,False,False,False,a70f356d-8d6d-4efa-b5e4-7dbd2d802be2,23,81,NaN,NaN,NaN,NaN,RANKED_SOLO_5x5,II,ZSsI-J6gJU9Njx6lIhBEQvqAFcBLn_529xK9eJZxESKXw0Q,꿈을 꾸기에,DIAMOND,False,136
22158,False,False,False,b349359a-764c-4c10-a999-82257943428f,27,127,NaN,NaN,NaN,NaN,RANKED_SOLO_5x5,II,yOq1BmGO3XCNBteeARnbYmgbTtcoB0M-QVTD0EubQOsm65U,Jug001,DIAMOND,False,180

In [229]:
ch_to_dia.to_csv('./data/ch_to_dia.csv')

In [232]:
ch_to_dia_df = pd.read_csv('./data/ch_to_dia.csv')
ch_to_dia_df.drop(columns=['Unnamed: 0'], inplace=True)
ch_to_dia_df.head()

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,miniSeries.losses,miniSeries.progress,miniSeries.target,miniSeries.wins,queueType,rank,summonerId,summonerName,tier,veteran,wins
0,False,False,False,NaN,891,352,NaN,NaN,NaN,NaN,NaN,I,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,Hide on bush,NaN,True,393
1,False,True,False,NaN,794,276,NaN,NaN,NaN,NaN,NaN,I,cTZCWU4ltosn-4hyXRtYEF7Luul52JQG7Zu3Ht9vBS9q4LM,bugaoxing,NaN,True,319
2,False,False,False,NaN,1214,975,NaN,NaN,NaN,NaN,NaN,I,Mj3QDYNOBaGcyrvEZPUtVs066RWOHKk6tDKXIib3n5Cdfp0,I still remember,NaN,True,1106
3,False,False,False,NaN,1083,183,NaN,NaN,NaN,NaN,NaN,I,W2Umgo0Rdl5kZ_zAPk3YAYi5eUJley95ZYyh3VcxttMfFfo,Destiny,NaN,True,189
4,False,False,False,NaN,742,502,NaN,NaN,NaN,NaN,NaN,I,kn3GcMLljUTznV4zOtpH8wOvLI03GtmWhPRsS-O0IKxFvS4,헤이스트에요,NaN,False,541

# 2. 소환사별 챔피언 정보 정리하기

In [233]:
regex = {}

regex['Champion'] = re.compile(r'\s*([\w.&]*)\s*')
regex['Played'] = re.compile(r'\s*(\d*W)*\s*(\d*L)*\s*(\d*%)+\s*')
regex['KDA'] = re.compile(r'\s*([\d.]*)[ /\s]*([\d.]*)[ /\s]*([\d.]*)[ /\s]*([\d.:]*)\s*')
regex['Gold'] = re.compile(r'\s*([\d,]*)\s*')
regex['CS'] = re.compile(r'\s*([\d.]*)[\(\s]*([\d.]*)\)\s*')
regex['Max Kills'] = re.compile(r'\s*([\d]*)\s*')
regex['Max Death'] = re.compile(r'\s*([\d]*)\s*')
regex['Average Damage Dealt'] = re.compile(r'\s*([\d,]*)\s*')
regex['Average Damage Taken'] = re.compile(r'\s*([\d,]*)\s*')
regex['Double Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Triple Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Quadra Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Penta Kill'] = re.compile(r'\s*([\d]*)\s*')

## 소환사명으로 챔피언 데이터 불러오기

In [ ]:
columnlist = ['#', 'Champion', 'Win', 'Loss', 'Win Rate', 'K', 'D', 'A', 'KDA', 'Gold', 'CS', 'CS/min', 
               'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken',
              'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']
DF = pd.DataFrame(columns=['summonerName']+columnlist[1:])

In [255]:
j = 4382
N = len(ch_to_dia_df.summonerName.values)

In [ ]:
while j < N:
    try:    
        sn = ch_to_dia_df.summonerName.values[j]
        sn_noblank = re.sub(r'[\s]*', '', sn)
        encode = quote_plus(sn_noblank)

        html = urlopen(url+encode)
        bsObject = BeautifulSoup(html, 'html.parser')
        contents = bsObject.select('div > table > tbody > tr')

        reg = re.compile(r'[\d\w.,:&\' ]+')

        df = pd.DataFrame(columns=columnlist)
        dfcontent = []

        for con in contents:
            tds = con.find_all('td')
            del tds[1]

            for i, td in enumerate(tds):
                text = td.text
                texts = reg.findall(text)

                if i == 2:
                    played_group = regex['Played'].search(text)

                    if played_group.group(1) == None:
                        dfcontent = dfcontent + ['0W'] + texts
                    elif played_group.group(2) == None:
                        dfcontent = dfcontent + [texts[0]] + ['0L'] + [texts[1]]
                    else:
                        dfcontent = dfcontent + texts

                else:
        #         dfcontent.append(text)
                    dfcontent = dfcontent + texts

            if len(dfcontent) != len(columnlist):
                for i in range(len(columnlist)-len(dfcontent)):
                    dfcontent.append(0)

            ser = pd.Series(dfcontent, index=columnlist)
            df = df.append(ser, ignore_index=True)

            dfcontent = []

        # df = pd.DataFrame()
        # df = df.append(alldfcontents)
        df['Win'] = df['Win'].apply(lambda x: x[:-1])
        df['Loss'] = df['Loss'].apply(lambda x: x[:-1])
    
    except Exception as e:
        print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, e))
        continue

    df.drop(columns=['#'], inplace=True)
    df['summonerName'] = sn
    DF = DF.append(df)
    
    print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, sn))
    j += 1
    time.sleep(1)

C:\Users\LG\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

06:07:24    4382: 악질맨
06:07:26    4383: 버스승객 미드
06:07:28    4384: 악희샹어
06:07:30    4385: 의자르반왕
06:07:32    4386: 부기부바
06:07:34    4387: 징 짹
06:07:36    4388: 이둥민
06:07:38    4389: 송현고 1학년 3반
06:07:39    4390: Tom Class
06:07:41    4391: Cube12
06:07:43    4392: 징크스 해
06:07:45    4393: 우주최강 준서
06:07:46    4394: 하미닛
06:07:48    4395: 캡틴 아메리카
06:07:50    4396: 재하니셈
06:07:52    4397: 콩콩이가때려줄게
06:07:54    4398: 소주맛스탁
06:07:56    4399: 꽃들유치원
06:07:57    4400: 나의뜨거운
06:07:59    4401: IlIiillIiiI
06:08:01    4402: black마켓
06:08:02    4403: Etourdi
06:08:04    4404: 해피수원보이
06:08:06    4405: goouttochat
06:08:07    4406: 남는거감1
06:08:09    4407: 차단후정글링
06:08:11    4408: 새로운 삶
06:08:12    4409: Satsuki
06:08:14    4410: Pose
06:08:16    4411: ART켄츠
06:08:17    4412: 사월의 파랑
06:08:19    4413: Teacher Pluto
06:08:21    4414: 소희 이쁘다
06:08:23    4415: NaNaSoNa Y00n
06:08:24    4416: Tears
06:08:26    4417: 공기팡화자
06:08:28    4418: 심심하면놀러와
06:08:29    4419: Apple Blue
06:08:31    4420: 재찬짱
06:08:33    4421: 성인아 롤하자
06:08:34    4422: 꼬진이
06:08:36    4423: 한 을
06:08:38    4424: 피곤하군
06:08:40    4425: 호구성
06:08:42    4426: 관전하기
06:08:44    4427: Tir Chonaill
06:08:45    4428: NIKE단기알바생
06:08:48    4429: The kunz
06:08:49    4430: 빵궈니
06:08:51    4431: 박 수로이 군
06:08:53    4432: shy sensei
06:08:54    4433: ox Ahri
06:08:56    4434: 비가 오고 나면
06:08:58    4435: 의정부 볼리베어
06:08:59    4436: 세팅 강박증
06:09:01    4437: Tthe
06:09:03    4438: half wing
06:09:05    4439: 가평가는렌트카
06:09:07    4440: 카 라
06:09:08    4441: 안졸리나전나졸려
06:09:10    4442: 마스터가고싶다아
06:09:12    4443: Barce1ona
06:09:14    4444: 탕수육군만두

In [ ]:
DF.to_csv('./data/opgg_ch_to_dia.csv')

## 챔피언 데이터 정리하기

In [63]:
opgg_df = pd.read_csv('./data/opgg_ch_to_ms.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)
opgg_df = opgg_df[['summonerName', 'Champion', 'Win', 'Loss', 'Win Rate', 'KDA', 'K', 'D', 'A', 
                  'CS', 'CS/min', 'Gold', 'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken', 
                   'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']]
opgg_df.head()

,summonerName,Champion,Win,Loss,Win Rate,KDA,K,D,A,CS,CS/min,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
0,Koei,Maokai,164,106,61,2.71:1,2.3,3.8,7.9,151.5,6.1,"8,733",11,10,"95,949","22,870",34,2,0,0
1,Koei,Shen,89,62,59,3.31:1,3.0,3.7,9.1,158.4,6.2,"9,206",12,9,"90,733","18,573",20,0,0,0
2,Koei,Zilean,68,46,60,3.61:1,2.8,3.5,9.7,166.0,6.5,"9,185",11,12,"109,255","14,784",13,1,0,0
3,Koei,Yuumi,55,49,53,4.36:1,1.2,2.9,11.5,6.4,0.3,"6,432",8,10,"14,823","5,228",6,0,0,0
4,Koei,Vladimir,46,42,52,2.35:1,3.9,3.6,4.6,187.5,7.3,"9,934",12,11,"123,776","22,155",36,5,0,0

In [64]:
opgg_df['Gold'] = opgg_df['Gold'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Average Damage Dealt'] = opgg_df['Average Damage Dealt'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Average Damage Taken'] = opgg_df['Average Damage Taken'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Double Kill'] = opgg_df['Double Kill'].apply(lambda x: str(x))
opgg_df['Double Kill'] = opgg_df['Double Kill'].apply(lambda x: int(x.replace(',', '')))
def cleanse_kda(x):
    if x == 'Perfect':
        return 100.0
    else:
        return float(x[:x.find(':')])
    
opgg_df['KDA'] = opgg_df['KDA'].apply(lambda x: cleanse_kda(x))
opgg_df['Games'] = opgg_df['Win'] + opgg_df['Loss']

In [65]:
for col in opgg_df.columns:
    print(col, opgg_df[col].dtype)

summonerName object
Champion object
Win int64
Loss int64
Win Rate int64
KDA float64
K float64
D float64
A float64
CS float64
CS/min float64
Gold int64
Max Kills int64
Max Deaths int64
Average Damage Dealt int64
Average Damage Taken int64
Double Kill int64
Triple Kill int64
Quadra Kill int64
Penta Kill int64
Games int64

In [66]:
opgg_df = opgg_df[['summonerName', 'Champion', 'Win', 'Loss', 'Games', 'Win Rate', 'KDA', 'K', 'D', 'A', 
                  'CS', 'CS/min', 'Gold', 'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken', 
                   'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']]
opgg_df.to_csv('./data/opgg_ch_to_ms_cleansed.csv')

# 3. 챔피언 ID 매칭하기

In [67]:
opgg_df = pd.read_csv('./data/opgg_ch_to_ms_cleansed.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)
opgg_df.head()

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,CS/min,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
0,Koei,Maokai,164,106,270,61,2.71,2.3,3.8,7.9,...,6.1,8733,11,10,95949,22870,34,2,0,0
1,Koei,Shen,89,62,151,59,3.31,3.0,3.7,9.1,...,6.2,9206,12,9,90733,18573,20,0,0,0
2,Koei,Zilean,68,46,114,60,3.61,2.8,3.5,9.7,...,6.5,9185,11,12,109255,14784,13,1,0,0
3,Koei,Yuumi,55,49,104,53,4.36,1.2,2.9,11.5,...,0.3,6432,8,10,14823,5228,6,0,0,0
4,Koei,Vladimir,46,42,88,52,2.35,3.9,3.6,4.6,...,7.3,9934,12,11,123776,22155,36,5,0,0

In [68]:
champ_key_df = pd.read_csv('./data/champ_key_10.15.1.csv')
champ_key_df.rename(columns={'name':'Champion',
                            'key':'championId'},
                   inplace=True)
champ_key_df.head()

   championId      Champion
0           1         Annie
1           2          Olaf
2           3         Galio
3           4  Twisted Fate
4           5      Xin Zhao

In [69]:
opgg_df = pd.merge(opgg_df, champ_key_df, on='Champion', how='left')
opgg_df.to_csv('./data/opgg_ch_to_ms_cleansed.csv')
opgg_df.head()

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill,championId
0,Koei,Maokai,164,106,270,61,2.71,2.3,3.8,7.9,...,8733,11,10,95949,22870,34,2,0,0,57
1,Koei,Shen,89,62,151,59,3.31,3.0,3.7,9.1,...,9206,12,9,90733,18573,20,0,0,0,98
2,Koei,Zilean,68,46,114,60,3.61,2.8,3.5,9.7,...,9185,11,12,109255,14784,13,1,0,0,26
3,Koei,Yuumi,55,49,104,53,4.36,1.2,2.9,11.5,...,6432,8,10,14823,5228,6,0,0,0,350
4,Koei,Vladimir,46,42,88,52,2.35,3.9,3.6,4.6,...,9934,12,11,123776,22155,36,5,0,0,8

# 4. MATCH 데이터와 소환사 데이터 merge 하기

In [164]:
matches_df = pd.read_csv('./data/matches.csv')
matches_df.drop(columns=['Unnamed: 0'], inplace=True)

for team in [1,2]:
    for summoner in range(1,6):
#         matches_df['team{0}_{1}_key'.format(team, summoner)] = '(' + matches_df['team{0}_{1}_summonerName'.format(team, summoner)] + ',' +  matches_df['team{0}_{1}_championId'.format(team, summoner)].apply(lambda x: str(x)) + ')
        matches_df['team{0}_{1}_key'.format(team, summoner)] = matches_df['team{0}_{1}_summonerName'.format(team, summoner)] + ':' +  matches_df['team{0}_{1}_championId'.format(team, summoner)].apply(lambda x: str(x))

print(len(matches_df))
matches_df.tail()

20790

,gameDuration,gameId,gameVersion,platformId,seasonId,win,team1_1_championId,team1_1_spell1Id,team1_1_spell2Id,team1_1_accountId,...,team1_1_key,team1_2_key,team1_3_key,team1_4_key,team1_5_key,team2_1_key,team2_2_key,team2_3_key,team2_4_key,team2_5_key
20785,1362,4457279078,10.12.325.6222,KR,13,team2,21,21,4,Op1xaCNS6YHeq4LhyZ0iRkMBA6jF9IUzl_W4HP1x5C7cjao,...,세이호 노예:21,영원히널울리지:24,고대의 문 :20,ANG TV:80,chao ji fei xia:350,여의동 수면펀치:79,Lactea4:22,goIden rain:134,No soul:106,shui de xiang:64
20786,1635,4515212905,10.14.327.8505,KR,13,team1,62,4,12,cr74SU24xvJNkNT0kbeUzGpxDwxfAxCvO1LF01ihGDhmRR...,...,Samdzdsb:62,EZ 4 ENCE ENCE:523,bugaoxing:875,군빵맨:163,이시우표식즈려:121,always confident:235,T1 Khael:412,hyckrrwzsn:516,HHH K9999:3,xunxunxun:104
20787,1199,4486114921,10.13.326.4870,KR,13,team1,20,14,4,XAaaZ1VdDFdRyvh4QPjWk6pwzzifRoCwpphQBBFWijer39...,...,white Picture:20,다인이:43,시도하려고하지마:516,Cool:429,SeIfmade orange2:106,KR Echo:126,그 릴:80,태욘잉:10,jaehwanyee:236,트롤러 쥐원이:43
20788,1498,4422151789,10.11.322.2991,KR,13,team2,84,4,14,QyWYwCq7mL9hqKDLSOdEnut9ZoDmK2RBXtc9C4_0F7SJuD...,...,liuyanyi:84,feviknight:432,otemp653:110,hongyanmeimei:163,kinjazo3o:236,홍바우:53,10816:105,Clever8:523,ArHg SeongHwan:104,나무위에나무늘보:134
20789,1310,4507872883,10.14.327.8505,KR,13,team1,516,12,4,MUdvPVaEW4-dsMy4iuEwG1BaFZNwjn-ZLdc_9Ct7RbWI,...,초보강아지:516,UltramanT1ga:245,E He Ra Di Ya Ah:104,원딜님사려주세요:80,개못하는숟가락:236,마지막새싹:4,zhu zhi byu zhi:64,동빈이 미드감:875,Rouas:145,shuijiangui:164

In [161]:
opgg_df = pd.read_csv('./data/opgg_ch_to_ms_cleansed.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)
# opgg_df.set_index(['summonerName', 'championId'], inplace=True)
opgg_df['key'] = opgg_df['summonerName'] + ':' + opgg_df['championId'].apply(lambda x: str(x))
print(len(opgg_df))
opgg_df.head()

95792

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill,championId,key
0,Koei,Maokai,164,106,270,61,2.71,2.3,3.8,7.9,...,11,10,95949,22870,34,2,0,0,57,Koei:57
1,Koei,Shen,89,62,151,59,3.31,3.0,3.7,9.1,...,12,9,90733,18573,20,0,0,0,98,Koei:98
2,Koei,Zilean,68,46,114,60,3.61,2.8,3.5,9.7,...,11,12,109255,14784,13,1,0,0,26,Koei:26
3,Koei,Yuumi,55,49,104,53,4.36,1.2,2.9,11.5,...,8,10,14823,5228,6,0,0,0,350,Koei:350
4,Koei,Vladimir,46,42,88,52,2.35,3.9,3.6,4.6,...,12,11,123776,22155,36,5,0,0,8,Koei:8

In [162]:
summoner_champion_properties = ['Games', 'Win Rate', 'KDA']

for team in [1,2]:
    for summoner in range(1,6):
        temp_opgg_df = opgg_df[['key'] + summoner_champion_properties]
        temp_opgg_df.columns = temp_opgg_df.columns.map(lambda x: 'team{0}_{1}_'.format(team, summoner) + x)

        matches_df = pd.merge(matches_df, temp_opgg_df, 
                              left_on='team{0}_{1}_key'.format(team, summoner), 
                              right_on='team{0}_{1}_key'.format(team, summoner), 
                              how='left')
        
matches_df.dropna(inplace=True)
matches_df.to_csv('./data/ch_to_ms_for_train.csv')